<div class="container">
  <h2>My todos</h2>

  <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
            <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(function () {
          $('#datetimepicker2').datetimepicker({
            locale: 'ru'
          });
        });
      </script>
    </div>
  </div>
  <form role="form" ng-submit="addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="What needs to be done?" class="form-control">
             <span class="input-group-btn">
              <input type="submit" value="Add" class="btn btn-primary">
             </span>
      </div>
    </div>
  </form>
  <p></p>

  <div ui-sortable ng-model="todos">
    <p ng-repeat="todo in todos" class="input-group" style="padding:5px 10px; cursor: move;">
      <input type="text" ng-model="todo" class="form-control">
      <span class="input-group-btn">
          <button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>
      </span>
    </p>
  </div>
</div>
